body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outsiderectangle {
  display: flex;
  flex-direction: column;
  border: 4em solid grey;
  width: 50%;
  height: 20%;
  margin: 2px;
}
.insiderectangle {
  background-color: black;

  width: 100%;
  height: 25vw;
}

.undercrossvertical {
  display: flex;
  flex-direction: column;

  background: grey;
  height: 130px;

  position: relative;
  width: 3%;
}
.undercrosshorizontal {
  background: grey;
  height: 35%;
  left: -75%;
  position: absolute;
  top: 32%;
  width: 250%;
}

.crosspad {
  position: relative;

  top: -14%;
  left: -65%;
}
.crosspad:after {
  position: relative;
  content: "\2719";
  font-size: 150px;
  color: black;
  font-weight: bold;
}
#positionbuttonleft {
  right: 49%;
}
.smallrectangle {
  position: relative;
  border-radius: 8px;

  width: 40%;
  height: 10%;
  right: -25%;
  background: #90917e;
}
.whiterectangle {
  position: relative;
  border-radius: 8px;
  top: 64px;
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 30%;
  right: -25%;
  background: white;
}

.blackbutton {
  position: relative;
  border-radius: 22px;
  top: 50%;
  width: 35%;
  height: 18%;

  background: black;
}
.redbutton {
  background: red;
  border-radius: 50%;

  width: 90%;
  height: 70%;
}
.nintendo {
  position: relative;

  right: 20%;
  top: -150px;
  width: 10px;
  height: 70px;
}

#blackbuttonleft {
  right: -11%;
}
#blackbuttonright {
  right: -48%;
}
#smallrectanglemiddle {
  top: 15px;
}
#smallrectanglemiddle2 {
  top: 30px;
}
#smallrectanglebottom {
  top: 100px;
}
#whiterectanglebuttonleft {
  top: 0%;
  right: -70%;
  width: 50%;
  height: 100%;
  background-color: white;
}
#whiterectanglebuttonright {
  top: 0%;
  right: -75%;
  width: 50%;
  height: 100%;
  background-color: white;
}
